<% include header %>
        
        <section class="default-section">
            <div class="text-container">
                <div class="text-header"> Movies </div>
        
                <div class="row streched-row">

                    <% movies.forEach(function(movie) { %>
                        <div class="card card-dark col-lg-4 col-md-6 col-sm-12">
                            <img class="card-img-top" src="https://via.placeholder.com/200x80" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"> <%= movie.title %> </h5>
                                <p class="card-text"><%= movie.description %> </p>
                            </div>
                            <div class="card-footer extended-card-footer" style="border-top: 1.5px dotted grey;">
                                    <a href="/movie/<%= movie.id %>">Read More</a>
                                    <a href="#"><i class="fa fa-check"></i> <%= movie.rating_count %> </a>
                                    <a href="#"><i class="fa fa-heart"></i> <%= movie.rating %> Score</a>
                            </div>
                        </div>
                    <% }) %>
                    
                </div>
            </div>
        </section>

<% include footer %>