<% include header %>

        <section class="default-section">
            <div class="text-container">
                <div class="movie">
                    <div class="movie-header"> <div class="title"><%=movie.title%></div> <div class="score">Avg. score: <%=rating%></div></div>
                    <div class="form-dark">
                        <form action="/ratings/update" method="POST">
                            <div class="form-group">
                                <input type="hidden" value="<%=movie.id%>" name="movieid">
                                <input class="form-control add-movie-rating-form" type="number" name="score" placeholder="Score" value="<%=userScore%>" min="1" max="5"/>
                            </div>
                            <div class="form-group"><textarea class="form-control add-movie-rating-form" type="text" name="comment" placeholder="Comment"> <%=userComment%> </textarea></div>
                            <div class="form-group form-button"><button class="btn btn-primary btn-sm btn-block" type="submit">Rate</button></div>
                        </form>
                        <form action="/ratings/delete" method="POST">
                            <button class="btn btn-sm btn-warning" type="submit" value="<%=movie.id%>" name="movieid">Delete rating</button>
                        </form>
                    </div>
                    <br>
                    <table class="table admin-table">
                            <thead>
                                <tr>
                                <th scope="col">User</th>
                                <th scope="col">Score</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% if (locals.ratings) { %>
                                <% ratings.forEach(function(rating) { %>
                                    <tr>
                                        <th> <%= user.username %> </th>
                                        <td> <%= rating.score %> </td>
                                        <td> <%= rating.comment %> </td>
                                        <%if (user._id.toString() == rating.user.toString()) { %>
                                            <td><form action="/ratings/delete" method="POST">
                                                <button class="btn btn-sm btn-warning" type="submit" value="<%=movie.id%>" name="movieid">Remove</button>
                                            </form></td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                    </tr>
                                <% }) %>
                            <% } %>
                            </tbody>
                    </table>
                </div>
            </div>
            
        </section>
        
<% include footer %>
